<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header id="header">
    <div style="overflow: hidden">
        <div id="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></div>
        <div id="login" style="float: left;">
            <button id="logining">АВТОРИЗАЦИЯ</button>
        </div>
    </div>
</header>

<div class="auth_block">
    <div class="naming">Авторизация</div>
    <form action="" method="post">
        <div class="auth_text">Логин:</div>
        <input class="auth_input" name="login">
        <div class="auth_text">Адрес:</div>
        <input class="auth_input" name="address">
        <div class="auth_text">Пароль:</div>
        <input class="auth_input" type="password" name="password">

        <input class="auth_submit" type="submit">
    </form>
</div>


</body>