<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header id="header">
    <!--    <div style="overflow: hidden">-->
    <!--        <div id="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></div>-->
    <!--        <div id="login" style="float: left;">-->
    <!--            <button id="logining">АВТОРИЗАЦИЯ</button>-->
    <!--        </div>-->
    <!--    </div>-->

    <div style="overflow: hidden">
        <a href="" id="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>bulatHulk</button>
            <div class="dropdown_menu">
                <a href="">Личный кабинет</a>
                <a>Заказы</a>
                <a>Избранное</a>
                <a>Корзина</a>
                <a>Выйти</a>
            </div>
        </div>
    </div>
</header>


<div style="overflow: hidden">
    <div id="left_panel" style="float: left;">
        <p style="font-size: 19px; font-weight: bold">Фильтр</p>
        <p>Тип:</p>
        <select name="type" class="select_left_panel">
            <option value="1">Синий</option>
            <option value="2">Зеленый</option>
            <option value="3">Желтый</option>
            <option value="4">Красный</option>
            <option value="5">Оранжевый</option>
            <option value="6">Черный</option>
        </select>

        <p>Компания:</p>
        <select name="company" class="select_left_panel">
            <option value="1">Синий</option>
            <option value="2">Зеленый</option>
            <option value="3">Желтый</option>
            <option value="4">Красный</option>
            <option value="5">Оранжевый</option>
            <option value="6">Черный</option>
        </select>

        <p>Цена до:</p>
        <input name="cool" class="input_left_panel">
        руб.
        <br><br><br>
        <button id="btn_left_panel">Показать</button>
    </div>

    <div id="knifes_list" style="float: left;">


        <div class="card" style="overflow: hidden">
            <div class="crd_img" style="float: left">
                <img src="imgs/chef-min.jpg">
            </div>
            <div class="crd_cnt" style="float: left">
                <div class="name">{{NAME1}}</div>
                <div class="info">Компания: {{}}</div>
                <div class="info">Тип: {{}}</div>
                <div class="info">Страна: {{}}</div>
                <div class="info">Цена: {{}} рублей</div>

                <div class="crd_buttons" style="overflow: hidden;">
                    <div style="float: left" class="in_favorites">
                        <button>В избранное</button>
                    </div>
                    <div style="float: left" class="in_basket">
                        <button>В корзину</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" style="overflow: hidden">
            <div class="crd_img" style="float: left">
                <img src="imgs/chef-min.jpg">
            </div>
            <div class="crd_cnt" style="float: left">
                <div class="name">{{NAME1}}</div>
                <div class="info">Компания: {{}}</div>
                <div class="info">Тип: {{}}</div>
                <div class="info">Страна: {{}}</div>
                <div class="info">Цена: {{}} рублей</div>

                <div class="crd_buttons" style="overflow: hidden;">
                    <div style="float: left" class="in_favorites">
                        <button>В избранное</button>
                    </div>
                    <div style="float: left" class="in_basket">
                        <button>В корзину</button>
                    </div>
                </div>
            </div>
        </div>





    </div>

</div>


</body>
</html>