<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Нарезайка</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div style="overflow: hidden">
    <div id="left_panel" style="float: left;">
        <p style="font-size: 19px; font-weight: bold">Фильтр</p>
        <p>Тип:</p>
        <select name="type" class="select_left_panel">
            <option value="1">Синий</option>
            <option value="2">Зеленый</option>
            <option value="3">Желтый</option>
            <option value="4">Красный</option>
            <option value="5">Оранжевый</option>
            <option value="6">Черный</option>
        </select>

        <p>Компания:</p>
        <select name="company" class="select_left_panel">
            <option value="1">Синий</option>
            <option value="2">Зеленый</option>
            <option value="3">Желтый</option>
            <option value="4">Красный</option>
            <option value="5">Оранжевый</option>
            <option value="6">Черный</option>
        </select>

        <p>Цена от:</p>
        <input name="cool" class="input_left_panel">
        руб.
        <br><br><br>
        <button id="btn_left_panel">Показать</button>
    </div>

    <div id="knifes_list" style="float: left;">

    </div>

</div>


</body>
</html>