<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="" id="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>bulatHulk</button>
            <div class="dropdown_menu">
                <a href="">Личный кабинет</a>
                <a>Заказы</a>
                <a>Избранное</a>
                <a>Корзина</a>
                <a>Выйти</a>
            </div>
        </div>
        <p class="page_name_lk">ЛИЧНЫЙ КАБИНЕТ</p>
    </div>
</header>


<div class="auth_block2">
    <div class="naming">Ваши данные</div>
    <form action="" method="post">
        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Логин: {{}}</div>

        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Адрес: {{}}</div>

        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Пароль: {{}}</div>

        <br>

        <input class="auth_submit2" type="submit" id="auth_reg" name="registration" value="Изменить">
    </form>
</div>


</body>
</html>