<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script type="text/javascript">
    </script>
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="/home" class="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div id="login" style="float: left;">
            <button id="logining">АВТОРИЗАЦИЯ</button>
        </div>
    </div>
</header>

<div class="auth_block_auth">
    <div class="naming">Авторизация</div>
    <form name="form" id="form" action="/home" method="post">
        <div class="auth_text">Логин:</div>
        <input class="auth_input" name="login" id="lg">
        <div class="auth_text">Пароль:</div>
        <input class="auth_input" type="password" name="password" id="psw">
        <br>
        <input class="auth_submit" id="auth_in" type="submit" name="in" value="Войти">
        <button class="auth_submit" id="auth_reg" name="registration" value="Регистрация">Регистрация</button>
    </form>

</div>

<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    // функция, которая выполняется при клике на кнопку
    $('#auth_in').on('click', (e) => {
        e.preventDefault();
        var login=document.forms["form"]["login"].value;
        var psw=document.forms["form"]["password"].value;

        if (login.length<5 || psw.length<5){
            if(login.length<5){
                var login_field = document.getElementsByName("login")[0];
                login_field.style.border = "2px solid red";
            }else{
                var login_field = document.getElementsByName("login")[0];
                login_field.style.border = '1px solid black';
            }
            if (psw.length<5){
                var psw_field = document.getElementsByName("password")[0];
                psw_field.style.border = "2px solid red";
            }else{
                var psw_field = document.getElementsByName("password")[0];
                psw_field.style.border = '1px solid black';
            }
            return false;
        }
        else{
            var login_field = document.getElementsByName("login")[0];
            login_field.style.border = '1px solid black';
            var psw_field = document.getElementsByName("password")[0];
            psw_field.style.border = '1px solid black';
        }
        // обрабатываем полученные данные с инпутов
        let data = {}
        if ($('#lg').val()) {
            data.login = $('#lg').val();
        }
        if ($('#psw').val()) {
            data.password = $('#psw').val();
        }
        // ajax-запрос
        $.ajax({
            url: '/check_pasw_login', // добавляем url, откуда будем брать данные
            method: 'post', // указываем метод
            dataType: 'html', // тип данных
            data: data, // данные запроса (в данном случае, там находятся GET-параметры)
            // функция, которая вызывается при успешном получении данных
            success: function (data) {
                alert(typeof data)
                data = JSON.parse(data);
                alert(data)
                if (data['state'] == "false"){
                    alert("Логин или пароль введены не верно");
                    return false;
                }
                else if (data['state'] == "none"){
                    alert("Такого пользователя не существует. Можете зарегестрироваться.")
                    return false;
                }else{
                    $('#form').submit();
                }
            }
        })
    })
</script>
</body>
</html>