<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        function validate_form(){
            //Считаем значения из полей name и email в переменные x и y
            var price =document.forms["left_form"]["cool"].value;
            var tst = /^[0-9]+$/.test(price);
            if(tst != 1){
                var price_field = document.getElementsByName("cool")[0];
                price_field.style.border = "2px solid red"
                return false;
            }
        }
    </script>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="/home" class="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>{{login}}</button>
            <div class="dropdown_menu">
                <a href="/lks">Личный кабинет</a>
                <a href="/purchases">Заказы</a>
                <a href="/favorites">Избранное</a>
                <a href="/basket">Корзина</a>
                <a href="/home?exit=on">Выйти</a>
            </div>
        </div>
        <p class="page_name">ИЗБРАННОЕ</p>
    </div>
</header>



<div style="overflow: hidden">
    <div id="left_panel" style="float: left;">
        <p style="font-size: 19px; font-weight: bold">Фильтр</p>
        <form name="left_form" onsubmit="return validate_form()" id="ff" action="/favorites">
            <p>Тип:</p>
            <select name="type" class="select_left_panel">
                {% if typed == "all" %}
                <option value="" SELECTED>Все</option>
                {% else %}
                <option value="">Все</option>
                {% endif %}
                {% for type in types %}
                {% if typed == type.name %}
                <option value="{{type.name}}" SELECTED>{{type.description}}</option>
                {% else %}
                <option value="{{type.name}}">{{type.description}}</option>
                {% endif %}
                {% endfor %}}
            </select>

            <p>Компания:</p>
            <select name="company" class="select_left_panel">
                {% if companied == "all" %}
                <option value="" SELECTED>Все</option>
                {% else %}
                <option value="">Все</option>
                {% endif %}
                {% for company in companies %}
                {% if companied == company.name %}
                <option value="{{company.name}}" SELECTED>{{company.name}}</option>
                {% else %}
                <option value="{{company.name}}">{{company.name}}</option>
                {% endif %}
                {% endfor %}
            </select>

            <p>Цена до:</p>
            <input name="cool" class="input_left_panel" value="{{ priced }}">
            руб.
            <br><br><br>
        </form>
        <input id="btn_left_panel" type="submit" form="ff" value="Показать">
    </div>

    <div id="knifes_list" style="float: left;">

        {% for knife in knifes %}

        <div class="card" style="overflow: hidden">
            <div class="crd_img" style="float: left">
                <img src="../static/chef-min.jpg">
            </div>
            <div class="crd_cnt" style="float: left">
                <div class="name">{{knife.k_name}}</div>
                <div class="info">Компания: {{knife.company_name}}</div>
                <div class="info">Тип: {{knife.description}}</div>
                <div class="info">Страна: {{knife.country}}</div>
                <div class="info">Цена: {{knife.price}} рублей</div>

                <div class="crd_buttons" style="overflow: hidden;">
                    <form action="/favorites">
                    <div style="float: left" class="in_favorites">
                        <button type="submit" name='bsk' value="{{knife.k_name}}">В корзину</button>
                    </div>
                    <div style="float: left" class="in_basket">
                        <button type="submit" name="del" value="{{knife.k_name}}">Удалить</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>