<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="/" class="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>{{login}}</button>
            <div class="dropdown_menu">
                <a href="/lk">Личный кабинет</a>
                <a href="/purchases">Заказы</a>
                <a href="/favorites">Избранное</a>
                <a href="/basket">Корзина</a>
                <a>Выйти</a>
            </div>
        </div>
        <p class="page_name_lk">ЛИЧНЫЙ КАБИНЕТ</p>
    </div>
</header>


<div class="auth_block2">
    <div class="naming">Ваши данные</div>
    <form action="/lk_change" method="post">
        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Логин: {{ person.login }}</div>

        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Адрес: {{ person.address }}</div>

        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Пароль: **********</div>
        <br>

        <input class="auth_submit2" type="submit" id="auth_reg" name="registration" value="Изменить">
    </form>
</div>


</body>
</html>