<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="/home" class="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>{{login}}</button>
            <div class="dropdown_menu">
                <a href="/lks">Личный кабинет</a>
                <a href="/purchases">Заказы</a>
                <a href="/favorites">Избранное</a>
                <a href="/basket">Корзина</a>
                <a href="/home?exit=on">Выйти</a>
            </div>
        </div>
        <p class="page_name_lk">ЛИЧНЫЙ КАБИНЕТ</p>
    </div>
</header>


<div class="auth_block">
    <div class="naming">Изменить данные</div>
    <form action="/lks" method="post" id="ffr">
        <div class="auth_text" style="font-family: 'Arial', sans-serif; font-size: 20px;">Логин: {{ login }}</div>
        <div class="auth_text">Адрес:</div>
        <input class="auth_input" name="address" id="adr">
        <div class="auth_text">Пароль:</div>
        <input class="auth_input" type="password" name="password" id=psw>
        <br>
        </form>
    <button class="auth_submit" id="auth_in" name="input" value="Отмена" onclick="location.href = '/lks'">Отмена</button>
    <button class="auth_submit" type="submit" id="auth_reg" name="registration" value="Сохранить" form="ffr">Сохранить</button>

</div>

<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    // функция, которая выполняется при клике на кнопку
    $('#auth_reg').on('click', (e) => {
        e.preventDefault();
        var psw=document.forms["ffr"]["password"].value;
        var address=document.forms["ffr"]["address"].value;

        if (psw.length<5 || address.length<4){
            if (psw.length<5){
                var psw_field = document.getElementsByName("password")[0];
                psw_field.style.border = "2px solid red";
            }else{
                var psw_field = document.getElementsByName("password")[0];
                psw_field.style.border = '1px solid black';
            }
            if (address.length<4){
                var address_field = document.getElementsByName("address")[0];
                address_field.style.border = "2px solid red";
            }else{
                var address_field = document.getElementsByName("address")[0];
                address_field.style.border = '1px solid black';
            }
            return false;
        }else{
            var psw_field = document.getElementsByName("password")[0];
            psw_field.style.border = '1px solid black';
            var address_field = document.getElementsByName("address")[0];
            address_field.style.border = '1px solid black';
        }
        $("#ffr").submit();
    })
</script>
</body>
</html>