<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="/" id="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>bulatHulk</button>
            <div class="dropdown_menu">
                <a href="/lk">Личный кабинет</a>
                <a href="/purchases">Заказы</a>
                <a href="/favorites">Избранное</a>
                <a href="/basket">Корзина</a>
                <a>Выйти</a>
            </div>
        </div>
        <p class="page_name">ЗАКАЗЫ</p>
    </div>
</header>


<div style="overflow: hidden">

    <div id="purch_knifes_list" style="float: left;">

        {% for prch_knfs in entity %}
        <div class="purch_card" style="overflow: hidden">
            <div class="purch_card_name">Заказ от <b>{{prch_knfs.0.purchase_date}}</b></div>
            <div class="itogo">На сумму {{prch_knfs.0.amount}} рублей </div>
            {% for knife in prch_knfs.1 %}
            <div class="card_item"><b>{{knife.name}}</b>: {{ knife.price }} руб</div>
            {% endfor %}
        </div>
        {% endfor %}


    </div>

</div>
</body>
</html>