<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header id="header">
    <div style="overflow: hidden">
        <a href="" id="icon-text" style="float: left;">НАРЕ<b>ЗАЙКА</b></a>
        <div class="person" style="float: left">
            <button>bulatHulk</button>
            <div class="dropdown_menu">
                <a href="">Личный кабинет</a>
                <a>Заказы</a>
                <a>Избранное</a>
                <a>Корзина</a>
                <a>Выйти</a>
            </div>
        </div>
        <p class="page_name">ЗАКАЗЫ</p>
    </div>
</header>


<div style="overflow: hidden">

    <div id="purch_knifes_list" style="float: left;">


        <div class="purch_card" style="overflow: hidden">
            <div class="purch_card_name">Заказ от {{}}</div>
            <div class="itogo">На сумму {{}} рублей </div>
            <div class="card_item">Knife_name1: {{}} руб</div>
            <div class="card_item">Knife_name2: {{}} руб</div>
            <div class="card_item">Knife_name3: {{}} руб</div>
        </div>

        <div class="purch_card" style="overflow: hidden">
            <div class="purch_card_name">Заказ от {{}}</div>
            <div class="itogo">На сумму {{}} рублей </div>
            <div class="card_item">Knife_name1: {{}} руб</div>
            <div class="card_item">Knife_name2: {{}} руб</div>
            <div class="card_item">Knife_name3: {{}} руб</div>
        </div>





    </div>

</div>
</body>
</html>